*{
    box-sizing: border-box;
}

#logo{
    height: 70px;
    position: fixed;
    top: 0;
    display: flex;
    margin-left: 45%;
    margin-top: 10px;
}

#projets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#text_black{
    color: #0A0A0A;
    font-weight: bold;
    font-size: 2em;
    padding: 5px;
}

h1 {
    font-family: persomax, sans-serif;
    font-size: 7em;
    text-align: center;
    font-weight: initial;
    color:  #EBEBEB;   
    text-shadow: 20px 20px 5px #0A0A0A;
    padding: 30px;
    margin: 0px;
}

.separation{
    color: rgb(218,165,32);
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    display: block;
}

h2{
    text-align: center;
    font-size: 4em;
    text-shadow: 15px 15px 5px #0A0A0A;
    padding: 20px;
}

h3{
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
}

h3:before{
    content: "•· ";
    color: rgb(218,165,32);
}

h3::after{
    content: " ·•";
    color: rgb(218,165,32);
}

header{
    background-image: url(blackwood.jpg);
    background-size: 100%;
    border-radius: 5px;
    margin-top: 95px;
    box-shadow: 0px 10px 10px #0A0A0A;
}

Body{
    font-family: 'League Spartan', sans-serif;
    color: #EBEBEB;
    margin:0px;
    background:#333333
}

.projet{
    background-image: url(whitemarbre.png);
    height: 450px;
    width: 450px;
    background-repeat: no-repeat;
    display: block;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgb(218,165,32), 0 3px 6px rgb(218,165,32);
}

.projet span{
    display: block;
}

.projet:hover{
    box-shadow: 0 10px 20px rgb(218,165,32), 0 6px 6px rgb(218,165,32);
    transition: 1s;
}

.image{
    overflow: hidden;
}

a{
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
    color: #EBEBEB;
}

a:hover{
    color: rgb(218,165,32);
}

a:focus{
    color: rgb(255,215,0);
}

nav{
    font-size: 2em;
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    position: fixed ;
    top: 0;
    left: 0px;
    right: 0px;
    background:#1F1F1F;
    box-shadow: 0px 10px 10px #0A0A0A;
    padding: 30px;
}

li{
    list-style-type: none;
    display: inline;
    margin: 80px;
}

ul{
    margin:0px;
    padding: 0px;
}

p{
    font-size: 2em;
    font-family: 'League Spartan', sans-serif;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

footer{
    font-size: 2em;
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    background-image: url(feuillegold.jpg);
    border-radius: 40px 40px 0px 0px;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 0px -10px 10px #0A0A0A;
}

@font-face{
    font-family: "persomax";
    src: url("../src/painter.ttf") format("truetype");
}